@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

body{
	height: 100%;
	color: #263555; 
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background: url(../img/page-bg.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: auto;
}

.wrapper {
	width: 900px;
	height: auto;
	background-color: #fff;
	margin:230px auto 0/*136px*/ auto;
	padding: 118px 62px 0/*88px*/ 62px;
}

.FirstHalfPage {
	border-bottom: 1px solid #dedbdb;
	height: auto; 
	overflow: hidden;
	padding: 0 0 41px 0;
}

.profile {
	width: 644px;
	float: left;

}

.profile h2 {
	margin: 0 0 49px 0;
}

.profile img {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.principles {
	float: right;
	width: 210px;
	height: auto; 
}


.principles h2{
	margin: 0 0 49px 0px;
}

/*----------CSS-счетчик-----------*/

.principles ol {
	counter-reset: MyCount;
	margin: 0px;
}

.principles li{
	list-style: none;
}

.principles li:before {
	counter-increment: MyCount;
	content: counter(MyCount);
	color: white;
	background: #38afe5;
	border-radius: 20px;
	border: 1px solid #689fb7;
	display: inline-block;
	text-align: center;
	margin: 4px -40px;
	line-height: 26px;
	width: 26px;
	height: 26px;
	float: left;
}

/*----------CSS-счетчик-----------*/

.principles li > h4 {
	overflow: hidden; 
	height: 18px;
    width: 170px; 
    margin: 20px 0;
}

.principles li > p {
	overflow: hidden; 
	height: 82px;
    width: 170px;
    margin: 20px 0;
}



.SecondHalfPage {
	height: auto; 
	overflow: hidden;
	padding-bottom: 90px;
}

.offer {
	float: left;
	width: 644px;	
}

.offer h2{
	margin: 60px 0;
}
/*-------------.link----------------------*/

.link ul {
	padding: 0;
	margin: 0;
}

.link li {
	display: inline-block;
	width: 270px;
	padding: 16px 0;
	overflow: hidden;
	height: 10px;
	width: 270px;
}

.link a {
	text-decoration: none;
	color: #263555;	
}

.link a:before {  
    content: "\21fe";
    color: #38afe5; 
    margin-right: 15px;
} 

		
/*--------------.link----------------------*/

.testimonial {
	float: right;
	height: auto;
	width: 210px;
}

.testimonial h2{
	margin: 60px 0 24px 0;
}



/*----------------------------------------------------testing*/


 .popup-duble-corner {
   background: #fcfafa;
   border: 1px solid #e9e6e6;
   border-radius: 1px;
   position: relative;
   padding: 10px 19px;
   width: 170px;
   margin-bottom: 70px;
}
 
.popup-duble-corner:after,
.popup-duble-corner:before {
   	content: '';
   	border: solid transparent;
   	position: absolute;
   	left: 43%;
   	margin-left: -12px;
   	bottom: -60px;
   	width: 0;
}
.popup-duble-corner:before {
   	border-top-color: #e9e6e6;
   	border-width: 30px;
}
.popup-duble-corner:after {
   	border-top-color: #fcfafa;
   	border-width: 32px;
   	margin-left: -14px;
}

/*-----------------------------------------------------testing*/

.popup-duble-corner p {
	font-family: arial;
	font-size: 15px;
	color: #263555;
}

.popup-duble-corner p:before {  
    content: open-quote; 
}

.popup-duble-corner p:after {  
    content: close-quote;  
}  

.director  {
	width: 210px;
}

.director p {
	text-align: center;
	font-size: 13px;
}



.footer {
	height: 134px;
	width: 900px;
	background: #30455B;
	margin: 0 auto 224px -62px;
	padding: 0 62px 0 62px;
}


h4 {
	font-family: arial;
	font-size: 15px;
}

h3 {
	text-align: center;
	font-size: 16px;
}

h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	font-size: 32px;

}

p {
	font-family: arial;
	font-size: 13px;
	color: #4E5050;
}

ul {
	/*list-style-image: url(../img/list_markers.jpg);*/
	list-style-type: none;
}